body {
    height: 100vh;
}
.list-btn {
    margin: 0 4px;
}
.meal-item {
    margin: 12px 0;
}
#modal-img {
    border: 1px solid black;
    margin: 8px;
}

.meal-name {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
#search {
    height: 300px;
}
.html {
    background-image: url(../images/background.jpg);
}
footer {
    position: fixed;
    bottom: 0;
    height: fit-content;
    width: 100%;
}
.results, .grocery {
    min-width: 350px;
    min-height: 400px;
    overflow-y: auto;
    max-height: 60vh;
}
.grocery {
    width: fit-content;
}
.side-section {
    height: fit-content;
    width: 400px;
}
.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.instructions {
    padding: 8px;
}
.action-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.select-ing {
    pointer-events: none;
}